.moviesApp {
    padding: 17px 36px;
    margin: 0 auto;
    max-width: 1010px;
    background-color: inherit;
}
.moviesApp > ul:first-child {
    margin-bottom: 19px;
}
.moviesApp > input {
    margin-bottom: 36px;
}
@media (max-width: 576px) {
    .moviesApp {
        padding: 17px 16px;
    }
    .moviesApp > input {
        margin-bottom: 10px;
    }
}
