.moviesApp {
    padding: 17px 36px;
    margin: 0 auto;
    max-width: 1010px;
    background-color: inherit;
}
.moviesApp > .moviesApp__menu {
    margin-bottom: 19px;
}
.moviesApp > input {
    margin-bottom: 36px;
}
.moviesApp__error-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
@media (max-width: 576px) {
    .moviesApp {
        padding: 17px 16px;
    }
    .moviesApp > input {
        margin-bottom: 10px;
    }
}
